<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/content/css/common-styles.css}">
    <link rel="stylesheet" th:href="@{/content/css/register-styles.css}">
</head>
<body>
<div class="container">
    <h1>Регистрация нового пользователя</h1>
    <form th:action="@{/register}" method="post">
        <div class="form-field">
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-field">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-field">
            <label for="confirmPassword">Подтверждение пароля:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <div class="button-group">
            <button type="submit">Зарегистрироваться</button>
        </div>
        <div class="link">
            <a href="/login">Уже есть аккаунт? Войдите!</a>
        </div>
    </form>
</div>
</body>
</html>